<div id="<%= dom_id song %>">
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

  <p>
    <strong>Duree en seconde:</strong>
    <span class="duree"><%= song.duree || "O" %>s</span>
  </p>
  <p>
      <!--<audio src="/uploads/<%=song.filename%>" controls></audio>-->
  </p>
</div>
