<p style="color: green"><%= notice %></p>

<%= render @song %>

<div>
  <%= link_to "Edit this song", edit_song_path(@song) %> |
  <%= link_to "Back to songs", songs_path %>

  <%= button_to "Destroy this song", @song, method: :delete %>
</div>
<%=content_for :asomejs do%>
<script>
window.onload=function(){
function a(){
/*$.ajax({url: '<%=returntime_song_path(@song.id)%>', success:function(data){}});*/
	var audio1 = new Audio('/uploads/'+("<%=@song.filename.html_safe%>"));
	audio1.addEventListener("loadedmetadata", setSliderMax);
        
	function setSliderMax() {
                $.ajax({url: "/songs/<%=@song.id%>.json", data: {song: {duree: audio1.duration}}, type: "patch",
                success:function(data){
                  $(".duree").html(String(data.duree)+"s")
                }
                });
               
                
	}
return false;
};
a();
};
</script>
<%end%>