<%= form_with(model: emission) do |form| %>
  <% if emission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(emission.errors.count, "error") %> prohibited this emission from being saved:</h2>

      <ul>
        <% emission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :subtitle, style: "display: block" %>
    <%= form.text_area :subtitle %>
  </div>
  <div>

  </div>
  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :duree_emission, style: "display: block" %>
    <%= form.time_field :duree_emission,
      value: (emission.duree_emission ? l(emission.duree_emission, format: :mytime) : "%H:%M"),
      min: 'hh:mm:ss',
      max: 'hh:mm:ss' %>
  </div>
  <div>
    <%= form.label :heure_emission, style: "display: block" %>
    <%= form.time_field :heure_emission,
      value: (emission.heure_emission ? l(emission.heure_emission, format: :mytime) : "%H:%M"),
      min: 'hh:mm:ss',
      max: 'hh:mm:ss' %>
  </div>

<div>
    animateur/trice
     <%= form.select(:animateur_ids, Animateur.all.collect {|p| [ p.title, p.id ] }, 
                                           { :prompt => "Please select"}, 
                                           { :multiple => true, :size => 5 }) %>

    </div>
<div>
    jours de la semaine
     <%= form.select(:weekday_ids, Weekday.all.collect {|p| [ p.name, p.id ] }, 
                                           { :prompt => "Please select"}, 
                                           { :multiple => true, :size => 7 }) %>

    </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
