<div class="wm-artist-slider-layer">
                                    <figure class="figure-234x170">
                                        <a href="<%=myanimateur_path(id: animateur.id, title: animateur.title.parameterize)%>">
                                            <img src="/uploads/<%=animateur.image%>" alt="ROYANN">
                                        </a>
                                        <figcaption>
                                            <a href="/post/animateur/royann-1559851503">
                                                <i class="flaticon-link"></i>
                                            </a>
                                        </figcaption>
                                    </figure>
                                    <div class="wm-artist-title">
                                        <h2 class="primary-color"><a class="primary-color" href="<%=myanimateur_path(id: animateur.id, title: animateur.title.parameterize)%>"><%=animateur.title%></a></h2>
                                        <p>
                                                                                    <span>
                                                                                                 <%=animateur.job%>
                                                                                            </span>
                                                                                </p>
                                    </div>
                                </div>
