<%= form_with(model: playlist) do |form| %>
  <% if playlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
        <% playlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
<%=form.select :emission_ids, Emission.all.collect{|x|[x.id, x.id]},{},{multiple:true,class:"myemisionsselect",hidden:true}%>
<%=form.select :song_ids, Song.all.collect{|x|[x.artist + " - " + x.title, x.id]},{},{multiple:true,class:"mysongsselect"}%>
</div>
<!-- comment -->
<h2>éditer les titres</h2>
<table>
     <th style="background-color:<%=cycle("yellow","purple")%>;">
<td>écouter</tr>
    <td>
        artist
    </td>
    <td>
               titre

    </td>
</th>
  <%=form.fields_for :songs do |f|%>
    
    <tr style="background-color:<%=cycle("yellow","purple")%>;">
<td>écouter : <audio src="/uploads/<%=f.object.filename.html_safe%>" controls></audio></tr>
    <td>
        <%=f.label :artist%>
        <%=f.text_field :artist%>
    </td>
    <td>
                <%=f.label :title%>
        <%=f.text_field :title%>

    </td>
</tr>
    <%end%>
</table>
  <div>
    <%= form.submit %>
  </div>
<% end %>
