<!DOCTYPE html>
<html>
  <head>
    <title>Nrjguyane</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary iutyh_uy-rt">
  <div class="container-fluid">

    <button class="navbar-toggler ijijijkijiji" type="button" data-bs-toggle="" data-bs-target="" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <a class="navbar-brand iuyghkuygh" href="#"><%=image_tag "/assets/NRJlogo" %></a>
    <div class="collapse navbar-collapse azertyu" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
</nav>
<nav class="mynavaudio">
  <div id="trapeze">
    <div id="precedent"></div>
    <div id="encours"></div>
    <div id="avenir"></div>
    <div class="slidecontainer"> <img src="/img/play.png" width="33" height="34" alt="play pause" id="goButton"/>
<input type="range" min="0" max="100" value="0" class="slider" disabled="true" id="myRange">
<img src="/img/soundOff.png" width="18" height="19" alt=""/>
<input type="range" min="0" max="100" value="100" class="slider" id="myVol">
</div>
  </div>
</nav>
<main class="mycontent">
    <%= yield %>
</main>
 <div id="overlayspinner">  <div id="textspinner">LE SITE DE NRJ est train de charger</div></div>
 <div id="overlay" class="monmenu menusliding">  

   <div id="text"><ul>
   <span class="closemenu">&#10060;</span>



     </ul>
     <ul class="accordion">
       <li class="menu">Accueil</li>
  <li class="has-sub">
    <label for="menu1">ACTUS <span>+</span></label>
    <input id="menu1" type="checkbox" name="menu" onchange="$('[for='+this.id+'] span').html(this.checked ? '-' : '+');" />
    <ul class="sub">
      <li>Actualité</li>
      <li>Musique</li>
      <li>Cinéma</li>
    </ul>
  </li>
  <li class="has-sub">
    <label for="menu2">RADIO <span>+</span></label>
    <input id="menu2" type="checkbox" name="menu" onchange="$('[for='+this.id+'] span').html(this.checked ? '-' : '+');" />
    <ul class="sub">
      <li>Animateurs</li>
      <li>Grille</li>
    </ul>
  </li>
  <li class="has-sub">
    <label for="menu3">HITS<span>+</span></label>
    <input id="menu3" type="checkbox" name="menu" onchange="$('[for='+this.id+'] span').html(this.checked ? '-' : '+');" />
    <ul class="sub">
      <li>La playlist NRJ</li>
      <li>Rechercher un titre</li>
    </ul>
  </li>
  <li class="has-sub">
    Jeu nrj
  </li>
  <li class="has-sub">
    Evenements nrj
  </li>
  <li class="has-sub">
    <label for="menu4">CLIPS<span>+</span></label>
    <input id="menu4" type="checkbox" name="menu" onchange="$('[for='+this.id+'] span').html(this.checked ? '-' : '+');" />
    <ul class="sub">
      <li>La playlist Vidéo</li>
    </ul>
    
  </li>
  <li class="has-sub">
    <label for="menu5">CONTACT<span>+</span></label>
    <input id="menu5" type="checkbox" name="menu" onchange="$('[for='+this.id+'] span').html(this.checked ? '-' : '+');" />
    <ul class="sub">
      <li>Politique de cookie</li>
      <li>Conditions générales d'utilisation</li>
    </ul>
    
  </li>
</ul>
   </div></div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
<%=yield :js%>
  <script>
    function onspinner() {
  document.getElementById("overlayspinner").style.display = "block";
}

function offspinner() {
  document.getElementById("overlayspinner").style.display = "none";
}
  onspinner();

<%=yield :somejs%>
  document.getElementById("overlayspinner").style.display = "none";
  </script>
  </body>
</html>
